.logo-img {
  width: 100px;
}
.colores{
  background-color: rgba(8, 45, 94, 0.8);
}
.alineacion{
  padding-top:30px;
}
.pequeño{
  height:10%;
}
.logos-img {
  width: 70px;
}
.logo1-img {
  width: 48%;
}

.logo2-img {
  width: 97%;
}
.foto{
  width:150px;
}
.cinema-body {
  background: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.alto-cont{
  height: 520px;
}
